body {
	text-align: center;
	font-family: 'Source Sans Pro', sans-serif;
	background-color: rgb(169,169,169);
	margin: 0;
	padding: 0;
	height: 90%;
	overflow-x: hidden;
}

.center {
		width: 10%; 
		margin-left: auto; 
		margin-right: auto;
		text-align: left;
}

.fa {
	display: inline-block;
	color: black;
}

.img-circle{
	border-radius: 48%;
	height: 70%;
}

